@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* { margin:0; }

.text-box-container {
	background: #FFFAE4;
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #a18d70;
  border-radius: 25px;
  padding: 1.85rem 1.85rem 2rem;
  box-shadow: 0.25px 0px 4px #7a9e97;
  width: 50rem;
  text-align: center;
  line-height: 1.5em;
}

.text-box-style {
  padding-top: 35px;
}

h1 {
  font-size: 1.2em;
  color: #7C6B51;
  text-align: center;
  line-height: 1.6em;
}