@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
}

.text-box-container {
  background: #fffae4;
  font-family: "Varela Round", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #a18d70;
  border-radius: 25px;
  padding: 1.85rem 1.85rem 2rem;
  box-shadow: 0.25px 0px 4px #7a9e97;
  width: 50rem;
  text-align: center;
  line-height: 1.5em;
}

.text-box-style {
  padding-top: 30px;
}

.input-style {
  margin-top: 10px;
  width: 12%;
  margin-left: auto;
  margin-right: auto;
}

.pattern-buttons {
  padding-top: 20px;
}

h1 {
  font-size: 1.2em;
  color: #7c6b51;
  text-align: center;
  line-height: 1.6em;
}
