@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* { margin:0; }

.daisy-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.daisy-name {
  background: #FF9B3D;
  color: #BE4E0C;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  padding: 1rem;
  border-radius: 18px;
  font-size: 1em;
  z-index: 2;
  margin-right: 65%;
  margin-bottom: 37%;
  position: absolute;
}

.daisy-text {
  background: #FFFAE4;
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #7C6B51;
  border-radius: 25px;
  padding: 1.85rem 1.85rem 2rem;
  width: 30rem;
  box-shadow: 0.25px 0px 4px #7a9e97;
  line-height: 1.5em;
  z-index: 1;
  position: relative;
}

.daisy-buttons {
  margin-top: 8px;
}

.orange {
  color:#e58e03;
}

/* @media (max-width: 800px) {
  .daisy-text {
    max-width: 40%;
  }
  .textbox {
    max-width: 40%;
  }
} */