@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
}

.container {
  background-image: url("../images/background.png");
  background-repeat: repeat;
  background-attachment: scroll;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.daisy-mae-spacing {
  margin-right: 43%;
}

.textbox {
  margin-top: 1.5%;
  margin-bottom: 10%;
  position: relative;
}

.predictions {
  padding-top: 20px;
  width: 66%;
}
