@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container {
  background-image: url("../images/background.png");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.daisy-mae-text {
  padding: 20px;
  /* margin-bottom: 40%;
  margin-right: 23%; */
}

.daisy-image {
  position: absolute;
  margin-right: 50%;
  margin-bottom: 28%;
}